/*Loading Menu Design Code*/


/* Main Menu Design Code */
        body {
          background: linear-gradient(90deg, #fff 0%, #fff 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        
 .bubbles {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 50%;
    animation: bubbleAnimation 10s infinite linear;
}
        
        @keyframes bubbleAnimation {
            0%, 100% {
                transform: translateY(0) translateX(0);
            }
            25% {
                transform: translateY(-100vh) translateX(100vw);
            }
            50% {
                transform: translateY(-100vh) translateX(-100vw);
            }
            75% {
                transform: translateY(100vh) translateX(-100vw);
            }
        }

        #element {
            border-radius: 5px;
            background-color: #f1f1f1;
            font-family: cursive;
            text-align: center;
            color: #f1f1f1; /* Set initial color */
        }
        
        button {
          height: 45px;
          width: 120px;
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
        }

        #elementBtn1 {
            border-radius: 5px;
            border: 1px solid #29ca04;
            background-color: #29ca04;
            color: #29ca04;
            align-content: center;
            justify-content: center;
            padding: 1px 1px;
            margin: 2.5px;
            text-align: center;
        }

        #elementBtn2 {
            border-radius: 5px;
            border: 1px solid #29ca04;
            background-color: #29ca04;
            color: #29ca04;
            align-content: center;
            justify-content: center;
            padding: 9px 11.8px;
            margin: 2.5px;
            text-align: center;
        }

        #elementBtn3 {
            border-radius: 5px;
            border: 1px solid #29ca04;
            background-color: #29ca04;
            color: #29ca04;
            align-content: center;
            justify-content: center;
            padding: 9px 11.8px;
            margin: 2.5px;
            text-align: center;
        }
        
        #elementBtn1:hover {
          background-color: white;
        }
        
        #textSkeleton {
            border-radius: 5px;
            /*border: 1px solid #f1f1f1;*/
            background-color: #f1f1f1;
            color: #f1f1f1;
            padding: 0px 80px;
            margin: 18px 0px;
            /*border: 1px solid green;*/
            animation: lightAnimation 5s linear infinite;
        }        
        
@keyframes lightAnimation {
    0% {
        background-position: -100% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
